.adduser{
  width: 25rem;
  height: max-content;
padding: 30px;
background-color: rgba(17, 27, 40, 0.868);
border-radius: 10px;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0; 
margin: auto;
form{
    display: flex;
    gap: 20px;
    input{
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    }
    button{
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(65, 202, 247);
        color: white;
        border: none;
        cursor: pointer;
    }
}
.useradd{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .detailsUSER{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
       
    }
    
}
.adduserbtn{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(61, 199, 245);
    color: white;
    border: none;
    cursor: pointer;

}
}